%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td= i + 1
        %td
          %img.img-rounded{ src: 'https://pairguru-api.herokuapp.com' + movie["poster"], width: "200px"}
        %td
          %h4
            = link_to movie["title"], movie_path(i+1)
          %p
            %strong
              Rating:
            = movie["rating"]
          %p= movie["plot"]
